In [1]:
#for dataframe maulpulations and calculations
import pandas as pd
import numpy as np
#for data visualizations
import seaborn as sns
import matplotlib.pyplot as plt
#for knn, linear regression and decision tree algorithms

from sklearn.metrics import mean_squared_error 
from math import sqrt
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import re
from sklearn.ensemble import RandomForestRegressor

#for ignoring warnings
import warnings
warnings.filterwarnings('ignore')

#to get consistent results.
import random
random.seed(0)

In [2]:
df=pd.read_csv('DiamondsPrices - DiamondsPrices.csv')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
df.shape

(53940, 10)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [5]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [6]:
# sns.pairplot(df)
df.price.median()

2401.0

In [7]:
X=df.drop('price',axis=1)
y=df.price

In [8]:
#splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 10, test_size = 0.2)

In [9]:
#scaling the numerical features for modelling ahead
feat_num=X_train.select_dtypes('number')
mmscaler = MinMaxScaler()
X1= pd.DataFrame(mmscaler.fit_transform(feat_num), columns=feat_num.columns)
X1

          carat     depth    table         x         y         z
0      0.272349  0.463889  0.43750  0.691806  0.126995  0.552109
1      0.380457  0.480556  0.37500  0.770019  0.139389  0.616625
2      0.166320  0.586111  0.53125  0.592179  0.106452  0.502481
3      0.072765  0.522222  0.40625  0.490689  0.090662  0.406948
4      0.022869  0.436111  0.50000  0.414339  0.076061  0.325062
...         ...       ...      ...       ...       ...       ...
43147  0.020790  0.477778  0.40625  0.405959  0.074363  0.326303
43148  0.068607  0.500000  0.40625  0.486965  0.089304  0.399504
43149  0.027027  0.516667  0.34375  0.415270  0.075891  0.341191
43150  0.068607  0.541667  0.50000  0.482309  0.087606  0.400744
43151  0.222453  0.536111  0.43750  0.639665  0.117827  0.533499

[43152 rows x 6 columns]

In [10]:
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [11]:
#scaling the numerical features for modelling ahead
feat_num_test=X_test.select_dtypes('number')
mmscaler = MinMaxScaler()
X1_test= pd.DataFrame(mmscaler.fit_transform(feat_num_test), columns=feat_num_test.columns)
# X1_test

In [12]:
#encoding the categorical columns for modelling ahead
feat_cat=X_train.select_dtypes('object')
OHE = OneHotEncoder()
X2=OHE.fit_transform(feat_cat)
X2= pd.DataFrame(OHE.fit_transform(feat_cat).toarray(), columns=OHE.get_feature_names_out())
X2

,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,color_F,color_G,color_H,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43147,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
43148,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
43149,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
43150,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
43151,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [13]:
#encoding the categorical columns for modelling ahead
feat_cat_test=X_test.select_dtypes('object')
OHE = OneHotEncoder()
X2_test=OHE.fit_transform(feat_cat_test)
X2_test= pd.DataFrame(OHE.fit_transform(feat_cat_test).toarray(), columns=OHE.get_feature_names_out())
# X2_test

In [14]:
#joining the numerical and categorical data 
X_train=pd.concat([X1,X2],axis=1)
X_train.head()

,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.272349,0.463889,0.43750,0.691806,0.126995,0.552109,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.380457,0.480556,0.37500,0.770019,0.139389,0.616625,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.166320,0.586111,0.53125,0.592179,0.106452,0.502481,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.072765,0.522222,0.40625,0.490689,0.090662,0.406948,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.022869,0.436111,0.50000,0.414339,0.076061,0.325062,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [15]:
#joining the numerical and categorical data 
X_test=pd.concat([X1_test,X2_test],axis=1)
X_test.head()

,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.244713,0.362934,0.250000,0.451448,0.448980,0.124528,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.151057,0.312741,0.288462,0.327087,0.345238,0.109119,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.280967,0.289575,0.307692,0.504259,0.522109,0.127673,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.169184,0.335907,0.230769,0.357751,0.369048,0.113208,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.151057,0.343629,0.307692,0.316865,0.329932,0.109119,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
#count of nulls
X_train.isna().sum()

carat            0
depth            0
table            0
x                0
y                0
z                0
cut_Fair         0
cut_Good         0
cut_Ideal        0
cut_Premium      0
cut_Very Good    0
color_D          0
color_E          0
color_F          0
color_G          0
color_H          0
color_I          0
color_J          0
clarity_I1       0
clarity_IF       0
clarity_SI1      0
clarity_SI2      0
clarity_VS1      0
clarity_VS2      0
clarity_VVS1     0
clarity_VVS2     0
dtype: int64

In [17]:
#fitting the data
lm = LinearRegression()
lr = lm.fit(X_train,y_train)

R2=lr.score(X_train,y_train)
R2

0.9195466363553646

In [18]:
#coefficients and intercept
lr.intercept_, lr.coef_

(-4449390073064025.5,
 array([ 5.39374391e+04, -2.00730999e+03, -9.20293188e+02, -9.41744260e+03,
         8.64599634e+02, -1.96557284e+03,  3.72015903e+15,  3.72015903e+15,
         3.72015903e+15,  3.72015903e+15,  3.72015903e+15, -2.37435103e+15,
        -2.37435103e+15, -2.37435103e+15, -2.37435103e+15, -2.37435103e+15,
        -2.37435103e+15, -2.37435103e+15,  3.10358207e+15,  3.10358207e+15,
         3.10358207e+15,  3.10358207e+15,  3.10358207e+15,  3.10358207e+15,
         3.10358207e+15,  3.10358207e+15]))

In [19]:
#predicting
yhat_train = lr.predict(X_train)
yhat_test = lr.predict(X_test)

In [20]:
#RMSE of train and test
lr_RMSE_train = np.sqrt(sum((y_train-yhat_train)**2)/y_train.shape[0])
lr_RMSE_test = np.sqrt(sum((y_test-yhat_test)**2)/y_test.shape[0])
lr_RMSE_train, lr_RMSE_test

(1127.721699762643, 6662.917765291598)

In [21]:
#MAPE of train and test
lr_MAPE_train = np.mean((abs(y_train - yhat_train)/y_train)*100)
lr_MAPE_test = np.mean((abs(y_test - yhat_test)/y_test)*100)
lr_MAPE_train,lr_MAPE_test

(39.00856500892789, 319.431567133721)

In [22]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(y_test, yhat_test)
mean_absolute_percentage_error(y_train, yhat_train)

0.3900856500892788

In [23]:
import pickle

# Save the trained model using pickle
with open('lr.pkl', 'wb') as file:
    pickle.dump(lr, file)


pickle.dump(X,open('encode.pkl','wb'))